[Unit]
Description=Lotus Daemon
After=network-online.target
Requires=network-online.target

[Service]
User=fil
Group=fil
ExecStart=/usr/local/bin/lotus daemon
EnvironmentFile=/home/fil/disk_md0/conf/daemon.conf
Restart=always
RestartSec=10

LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target